# Base de données MariaDB
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=wcdo
MYSQL_USER=wcdo_user
MYSQL_PASSWORD=changeme

# Connexion PHP → DB
DB_HOST=db
DB_NAME=wcdo
DB_USER=wcdo_user
DB_PASS=changeme

# Docker Registry
REGISTRY_HOST=hugo-registry.a3n.fr
REGISTRY_USER=changeme
REGISTRY_PASSWORD=changeme

# GitHub Actions Runner (PAT avec scope: repo)
GITHUB_TOKEN=changeme
